{% extends 'base.html' %} {% block content %}
<div class="limiter">
  {% for message in get_flashed_messages() %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endfor %}
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <span class="login100-form-title p-b-51"> Upload new File </span>
      <form
        method="post"
        class="login100-form validate-form flex-sb flex-w"
        enctype="multipart/form-data"
      >
        {{ form.hidden_tag() }} {{ form.file }}
        <div>
          <a href="{{ url_for('home')}}" class="txt1"> Back </a>
        </div>
        {{ form.submit(class="btn btn-secondary") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}